FRONTEND_URL="http://localhost:3000"
BETTER_AUTH_URL="http://localhost:3000"
# use: openssl rand -hex 32
BETTER_AUTH_SECRET=""

DB_NAME="open-reclamos"
DB_USER="open-reclamos"
DB_PASSWORD="set-your-db-password"
DB_HOST="postgres"
DB_PORT="5432"

DOCUMENT_LOOKUP_PROVIDER="API_PERU_DEV"
DOCUMENT_LOOKUP_API_PERU_DEV_TOKEN="set-your-api-peru-dev-token"
DOCUMENT_LOOKUP_API_PERU_DEV_URL="https://apiperu.dev"

EMAIL_TRANSPORT="SMTP"
EMAIL_FROM_ADDRESS="open-reclamos@example.com"
EMAIL_FROM_NAME="Open Reclamos"
EMAIL_SMTP_HOST="set-your-smtp-host"
EMAIL_SMTP_PORT="587"
EMAIL_SMTP_USER="set-your-smtp-user"
EMAIL_SMTP_PASSWORD="set-your-smtp-password"
EMAIL_SMTP_SECURE="false"

S3_ENDPOINT="http://minio:9000"
S3_ACCESS_KEY="set-your-access-key"
S3_SECRET_KEY="set-your-secret-key"
S3_BUCKET="open-reclamos"

INNGEST_URL="http://ingest:8288"
# use: openssl rand -hex 32
INNGEST_EVENT_KEY="set-your-inngest-event-key"
INNGEST_SIGNING_KEY="set-your-inngest-signing-key"

# AI_PROVIDER="OPENAI"
# AI_OPENAI_API_KEY=""
# AI_OPENAI_MODEL="gpt-5.4-mini"

TURNSTILE_SITE_KEY="1x00000000000000000000AA"
TURNSTILE_SECRET_KEY="1x0000000000000000000000000000000AA"